<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/db_personal?useSSL=false"/>
    <property name="user" value="root"/>
    <property name="password" value="12345678"/>
  </bean>

  <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="adminDaoDbUtilsImpl" class="club.banyuan.admin.dao.impl.AdminDaoDbUtilsImpl">
    <constructor-arg ref="queryRunner"/>
  </bean>

  <bean id="adminServiceImpl" class="club.banyuan.admin.service.impl.AdminServiceImpl">
    <property name="adminDao" ref="adminDaoDbUtilsImpl"/>
  </bean>

  <bean id="adminServiceOtherImpl" class="club.banyuan.admin.service.impl.AdminServiceOtherImpl" primary="true" >
    <property name="adminDao" ref="adminDaoDbUtilsImpl"/>
  </bean>

</beans>